HOST=127.0.0.1
PORT=8080
LLAMA_BASE_URL=http://127.0.0.1:8081/v1
LLAMA_MODEL=local-model
WHISPER_URL=http://127.0.0.1:9000
TTS_URL=http://127.0.0.1:5002
COMFYUI_URL=http://127.0.0.1:8188
DATABASE_PATH=./data/memory.db
AGENT_NAME=MYK
